<div class="row">
	<h3>FAQ - Domande frequenti</h3>
</div>
<div class="row">
	<h4 class="questions">Il servizio è a pagamento?</h4>
	<h5 class="answer">
		Il servizio è gratuito per gli studenti che si registrano per cercare lezioni.<br />
		Il docente che vuole comparire nelle ricerche che effettuano gli studenti deve registrare un account sulla piattaforma e pagare una quota annuale di &euro; 150,00 tramite il servizio PayPal o bonifico al gestore del servizio.
	</h5>
</div>	
<div class="row">
	<h4 class="questions">Lorem ipsum dolor sit amet?</h4>
	<h5 class="answer">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</h5>
</div>
<div class="row">
	<h4 class="questions">Lorem ipsum dolor sit amet?</h4>
	<h5 class="answer">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</h5>
</div>	
<div class="row">
	<h4 class="questions">Lorem ipsum dolor sit amet?</h4>
	<h5 class="answer">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</h5>
</div>		