<div class="row">
	<h2>FAQ - Domande frequenti</h2>
</div>
<div class="row">
	<h3 class="questions">Il servizio è a pagamento?</h3>
	<h4 class="answer">
		Il servizio è gratuito per gli studenti che si registrano per cercare lezioni.<br />
		Il docente che vuole comparire nelle ricerche che effettuano gli studenti deve registrare un account sulla piattaforma e pagare una quota annuale di &euro; 150,00 tramite il servizio PayPal o bonifico al gestore del servizio.
	</h4>
</div>	
