<div class="row">
	<h1>FAQ: Domande frequenti</h1>
</div>
<div class="row">
	<h3 class="questions">Come funziona Archimede?</h3>
	<h4 class="answer">Bacon ipsum dolor sit amet pig tri-tip cow sirloin jerky ham hock kielbasa chuck swine tongue short loin beef drumstick prosciutto flank. Ribeye pig shankle salami. Venison prosciutto brisket pork chop beef kielbasa ham flank boudin rump sirloin pastrami leberkas. Turducken drumstick frankfurter pancetta ball tip, chicken beef rump ham hock. </h4>
</div>	
<div class="row">
	<h3 class="questions">Come funziona Archimede?</h3>
	<h4 class="answer">Bacon ipsum dolor sit amet pig tri-tip cow sirloin jerky ham hock kielbasa chuck swine tongue short loin beef drumstick prosciutto flank. Ribeye pig shankle salami. Venison prosciutto brisket pork chop beef kielbasa ham flank boudin rump sirloin pastrami leberkas. Turducken drumstick frankfurter pancetta ball tip, chicken beef rump ham hock. </h4>
</div>
<div class="row">
	<h3 class="questions">Come funziona Archimede?</h3>
	<h4 class="answer">Bacon ipsum dolor sit amet pig tri-tip cow sirloin jerky ham hock kielbasa chuck swine tongue short loin beef drumstick prosciutto flank. Ribeye pig shankle salami. Venison prosciutto brisket pork chop beef kielbasa ham flank boudin rump sirloin pastrami leberkas. Turducken drumstick frankfurter pancetta ball tip, chicken beef rump ham hock. </h4>
</div>
<br />
<br />