<div class="row">
	<h1>PRIVACY POLICY</h1>
</div>
<div class="row-full p20" style="background: #C4273C">
	<div class="row">
		<h3 style="color: white">La presente Privacy Policy ha lo scopo di descrivere le modalità di gestione del sito web, di secondo e terzo livello, di proprietà di ____________, di seguito ____________, in riferimento al trattamento dei dati personali degli utenti/visitatori che li consultano.</h3>
	</div>
</div>
<div class="row">
<p></p>	
<h4>Trattamento dei dati personali</h4>
	<p>____________ tratta tutti i dati personali degli utenti/visitatori dei servizi offerti, nel pieno rispetto di quanto previsto dalla normativa nazionale italiana in materia di privacy e del D. Lgs. 196/2003.
	Ove l'accesso a particolari servizi venga subordinato alla registrazione previa comunicazione di dati personali, viene fornita un'informativa specifica al momento della sottoscrizione dei servizi stessi. L'acquisizione dei dati, che possono essere richiesti, è il presupposto indispensabile per accedere ai servizi offerti sul sito.<br />
	I dati personali, raccolti e conservati in banche dati di ____________, sono trattati da dipendenti e/o collaboratori del titolare del trattamento in qualità di incaricati.</p>
<h4>Ci divertiamo coi vostri dati :)</h4>
</div>