	<%= form_for :session, url: { :controller => :sessions, :action => :create } do |f| %>
	<div class="row">
		<fieldset class="six columns">
			<legend><h2>Login</h2></legend>
			<ul>
				<li class="field">
					<%= f.email_field :email, :placeholder => "Email", :class => "wide text input", :id => "email" %>
				</li>
				<li class="field">
					<%= f.password_field :password, :placeholder => "Password", :class => "wide text input", :id => "psw" %>
				</li> 
				<li class="field">
					<label class="checkbox" for="check1">
						<%= f.check_box :remember %>
						<span></span> Ricordami
					</label>
				</li>
				<li>
				<button class="medium primary btn">
					<a>Entra</a>
				</button>
				</li>
			</ul> 
		</fieldset> 
	</div> 
	<% end %>
