
	<div class="push"></div>
</div><!-- chiude wrapper -->
  <div class="footer">

 	  <div class="row-full foot-full">
      <div class="row">
        <h3 id="contacts">Contatti</h3>
        <div class="centered nine columns center">
          <span class="foot-icon"><i class="icon-mail"></i></span>
          <span class="foot-icon"><i class="icon-twitter"></i></span>
          <span class="foot-icon"><i class="icon-facebook"></i></span>
        </div>
      </div>
    </div>

  	<div class="row-full" style="background: black">
    	<div class="row center">
      		<a href=<%= "#{request.protocol}#{request.host_with_port}/static_pages/privacy" %>>Privacy Policy</a>
          <br />&copy; 2013 webmp.org - <span style="font-family: 'Monaco', monospace;">rexos</span><span style="border:1px solid black;color:white;font-size:20px">&#x2693;</span><span style="font-family: 'Monaco', monospace;">afnecors</span>
    	</div>
  	</div>
</div>

<div class="go_top">
	<a class="skip" href="#" gumby-goto="top" gumby-duration="1000" gumby-offset="-60">
                <i style="font-size:30px;font-weight:bold" class="icon-up-open-big"></i></a>
</div>

<%= javascript_include_tag "application" %>
  </body>
</html>
