
	<div class="push"></div>
</div><!-- chiude wrapper -->
  <div class="footer">
  	<div class="row-full" style="background: black">
    	<div class="row center">
      		<a href=<%= "#{request.protocol}#{request.host_with_port}/static_pages/privacy" %>>Privacy Policy</a><br />&copy; 2013 webmp.org - <span style="font-family: 'Monaco', monospace;">rexos</span><span style="border:1px solid black;color:white;font-size:20px">&#x2693;</span><span style="font-family: 'Monaco', monospace;">afnecors</span>
    	</div>
  	</div>
</div>

<%= javascript_include_tag "application" %>
  </body>
</html>
