<div class="row">
	<h1>Benvenuto</h1>
	<div class="xlarge btn primary">
		<a href="signup">Registrati</a>
	</div>
	<div class="xlarge btn default">
		<a href="login">Entra</a>
	</div>
	<br /><br />
	<div class="medium btn danger">
	  <%= link_to :Docenti, :controller => :teachers, :action => :index %>
	</div>
	<div class="medium btn success">
	  <%= link_to :Studenti, :controller => :students, :action => :index %>
	</div>
</div>
