<div class="row">
    <div class="six columns">
        <p class="center">
            <%= image_tag("home.png", :style => "margin-top: 10%") %>
        </p>
    </div>
    
    <div class="six columns">
        <h2>Lezioni private</h2>
        <p>Archimede è una piattaforma facile e intuitiva per docenti e studenti di tutte le età in cerca di lezioni private.
        </p>
        <h3><a href="lookup">Inizia subito</a> una ricerca</h3>
        
        <div class="xlarge btn primary pill-left">
            <a href="login">Entra</a>
        </div>
        <div class="xlarge btn default pill-right">
            <a href="signup">Registrati</a>
        </div>
        <br /><br />
    </div>
</div>

<div class="row-full home-1">
    <div class="row center">
        <h3>
            <i class="icon-quote ruota180"></i>
            Trova facilmente la lezione che fa per te con <strong>Archimede</strong>!
            <i class="icon-quote"></i>
        </h3> 
    </div>
</div>

<div class="row-full home-2">
    <div class="row">
        <div class="four columns center">
            <h3>Veloci ed efficaci ricerche</h3>
            <span class="circ-wrap shape">
                <i class="icon-search"></i>
            </span>
            <p>Con Archimede potrai cercare una materia scolastica, una zona geografica, o il nome di un professore con un solo click.</p>
        </div>
        <div class="four columns center">
            <h3>Lezioni anche via skype</h3>
            <span class="circ-wrap shape">
                <i class="icon-skype"></i>
            </span>
            <p>Nel portale Archimede è possibile contattare docenti disposti ad effettuare delle videolezioni con la popolare applicazione Skype™.</p>
        </div>
        <div class="four columns center">
            <h3>Facile pagamento paypal</h3>
            <span class="circ-wrap shape">
                <i class="icon-paypal"></i>
            </span>
            <p>Dopo una facile iscrizione il docente potrà attivare l'account effettuando un sicuro pagmento attraverso il proprio account PayPal™.</p>
        </div>
    </div>
</div>

<div class="row-full partner">
    <div class="row">
        <h3>Partner</h3>
    </div>
    
    <div class="row">
        <div class="four columns center">
            <img src="http://fakeimg.pl/400x200/eee/ccc?text=advertisement1" />
        </div>
        <div class="four columns center">
            <img src="http://fakeimg.pl/400x200/eee/ccc?text=advertisement2" />
        </div>
        <div class="four columns center">
            <img src="http://fakeimg.pl/400x200/eee/ccc?text=advertisement3" />
        </div>
    </div>
</div>
