<div class="modal" id="map_modal">
  <div class="content" style="width:70%">
    <a class="close switch" gumby-trigger="|#map_modal"><i class="icon-cancel"></i></a>
    <div class="row center">
      <h2>Mappa</h2>
      <%= gmaps( :markers => { :data => @json },
      :direction => { :data => { :from => current_user.address.gmaps4rails_address, :to => @teacher.address.gmaps4rails_address } },
      :circles => { :data => @range_circle }
      ) %>
      <br />
      <button class="btn default medium">
	<a>Chiudi Mappa</a>
      </button>
    </div>
  </div>
</div>
