<div class="modal" id="t_bill_settings">
  <div class="content">
    <a class="close switch" gumby-trigger="|#t_bill_settings"><i class="icon-cancel"></i></a>
    <div class="row">
      <div class="ten columns centered center-text"> 
          <h2>Modifica dati fattura</h2>


       </div>
    </div>
  </div>
</div> 