<div class="modal" id="t_info_settings">
  <div class="content">
    <a class="close switch" gumby-trigger="|#t_info_settings"><i class="icon-cancel"></i></a>
    <div class="row">
      <div class="ten columns centered center-text"> 
          <h2>Modifica informazioni</h2>


       </div>
    </div>
  </div>
</div>   