<div class="row">
  <h1>Pagamento</h1>
  <p>
    Scegli il metodo di pagmanto che preferisci.<br />
    Utilizzando Paypal l'account verrà attivato in un tempo più breve.<br />
    L'account verrà attivato tra le 24 e 48 ore appena l'amministratore riceverà la notifica di pagamento.
  </p>
</div>

<div class="row">
  <div class="six columns center">
    <h3>PAYPAL</h3><br />
    <i class="icon-paypal" style="font-size: 60px"></i>
  </div>
  <div class="six columns center">
    <h3>BONIFICO</h3><br />
    <i class="icon-pencil" style="font-size: 60px"></i>
  </div>  
</div>




