<div class="row">
  <h2>Profilo Docente : <%= current_user.name.capitalize %></h2>
</div>

<div class="row">
  <div class="five columns">
    <% if current_user.active %>
    <div class="alert success center">
    <% else %>
    <div class="alert warning center">
    <% end %>
      <h3>
	Stato Account <br />
	<% if current_user.active %>
	ATTIVO <h5>Fino al : </h5>
	<h3><%= current_user.deadline %></h3>
	<% else %>
	NON ATTIVO  <h5>Il suo profilo non sarà visualizzabile da parte di terzi fino all'attivazione da parte dell' amministratore</h5>
	<% end %>
      </h3>
    </div>
  </div>
  <div class="seven columns">

    <% current_user.attributes.each do |a| %> <br />
      <strong><%= a[0] %></strong>: <%= a[1] %>
    <% end %>


  </div>
</div>



