/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require gumby
 *= require_self
 */


/* fix checkbox and radio position when checked */
.field .radio.checked i, 
.field .checkbox.checked i {
	line-height: 25px;
	top: 1px;
}

input:focus,
textarea:focus { 
    outline: none;
    border-color: #3085d6;
    box-shadow: 0 0 5px #3085d6;
    background: #000;
}